@use './constants.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;

  font-family: constants.$font-base;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  color: constants.$color-text-dark;
  text-rendering: optimizelegibility;

  transition:
    color 0.5s,
    background-color 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: constants.$font-heading;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2.5rem;
}

h6 {
  font-size: 2rem;
}

.v-container.container {
  max-width: 1440px;
  padding: 0 4rem;
}

@media screen and (width <= 600px) {
  .v-container.container {
    padding: 0 1rem;
  }
}

a {
  color: constants.$color-text-dark;
  text-decoration: none;

  &:hover {
    color: constants.$color-primary;
  }
}

.v-application {
  background: url('@assets/images/texture.png') !important;
  background-repeat: round !important;
  background-size: 35% !important;
}
