@use './constants.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;

  font-family: constants.$font-base;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  color: constants.$color-text-dark;
  text-rendering: optimizelegibility;

  background: url('../assets/images/texture.png');
  background-repeat: round;
  background-size: 35%;

  transition:
    color 0.5s,
    background-color 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: constants.$font-heading;
}

a {
  font-size: 16px;
  color: constants.$color-text-dark;
  text-decoration: none;

  &:hover {
    color: constants.$color-primary;
  }
}
